<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 | E-Web Services</title>
</head>
<body>
    <link href="/static/styles2.css" rel="stylesheet" type="text/css">
    <div class="container-fluid">
    
        <!-- 404 Error Text -->
        <br><br><br><br><br>
        <div class="text-center">
            <div class="error mx-auto" data-text="404">404</div>
            <p class="lead text-gray-800 mb-5">Page Not Found</p>
            <p class="text-gray-500 mb-0">It looks like you found a glitch in the matrix...</p>
            <a href="/">&larr; Back to Home Page</a>
        </div>
    
    </div>
</body>
</html>